{% extends 'base.html' %}

{% block content %}
   <div class="container">
      <h1>Кошик</h1>
       <div class="row row-cols-1">
         {% for item in cart.items.all %}
           <div class="col">
               <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                       {% if item.dish.photo %}
                       <img src="{{ item.dish.photo.url }}" class="card-img-top" alt="...">
                       {% endif %}
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ item.dish.name }}</h5>
                        <p class="card-text">{{ item.dish.price }} грн.</p>
                        <p class="card-text"><small class="text-body-secondary">кількість: {{ item.quantity }}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
           </div>

         {% endfor %}
           </div>
       <a href="{% url 'order-create' %}" class="btn btn-primary">Оформити замовлення</a>
       </div>

{% endblock %}